.fc th {
    text-align: left;
}

.fc th a {
    color: var(--bs-body-color);
}

.fc th.fc-day-today a span:last-child {
    color: var(--bs-primary);
}

.fc .fc-col-header-cell-cushion {
    display: block;
    padding: 28px 16px;
}

#calendar-date-input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td, .fc-theme-standard th{
    border-color: var(--bs-border-color);
}
.fc .fc-view-harness{
    height: calc(100vh - 180px) !important;
}

.fc-daygrid-event-dot{
    border-color: var(--bs-primary);
}
.fc-h-event,
.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay{
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
}

@media (max-width: 767.98px) {

    .fc-theme-standard .fc-list{
        border: 0;
    }
    .fc .fc-list-sticky .fc-list-day>*{
        background-color: var(--bs-primary);
        border-radius: 8px;
    }
    .fc .fc-list-event-dot{
        border-color: var(--bs-primary);
    }
    .fc .fc-list-event:hover td{
        background-color: rgba(var(--bs-primary-rgb),.3);
    }
}