{% extends "layout.html" %}
{% load static %}

{% block header %}About Us - Sua Pa AI{% endblock header %}

{% block content %}
    <main>
        <!-- breadcrumb area start -->
        {% include "breadcrumb.html" %}
        <!-- breadcrumb area end -->

        <!-- about area start -->
        <section class="h2_about-area pt-140 pb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="h2_about-img mb-40">
                            <img src="{{ about_us.main_image.url }}" alt="Image Not Found" class="inner-img-1 tp_fade_right">
                            <img src="{{ about_us.secondary_image.url }}" alt="Image Not Found" class="inner-img-2 tp_fade_bottom">
                            <img src="{% static "assets/images/about/home2/shape.png" %}" alt="Image Not Found" class="inner-img-shape">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="h2_about-content mb-40">
                            <div class="inner_section-area mb-40">
                                <span class="inner_section-subtitle tp_subtitle_anim">Who We Are?</span>
                                <h2 class="inner_section-title tp_title_slideup inner_section-title tp_title_slideup-big mb-25">{{ about_us.subtitle }}</h2>
                                <p class="inner_section-text tp_fade_bottom">{{ about_us.description }}</p>
                            </div>
                            <a href="#" class="theme-btn-2 tp_fade_bottom">Explore Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- about area end -->

        <!-- feature area start -->
        {% include "feature-section.html" %}
        <!-- feature area end -->

        <!-- blog area start -->
        {% include "blog-section.html" %}
        <!-- blog area end -->
    </main>
{% endblock content %}