{% extends "layout.html" %}
{% load static %}

{% block content %}
    <main>
        <!-- breadcrumb area start -->
         {% include "breadcrumb.html" %}
        <!-- breadcrumb area end -->

        <!-- blog area start -->
        <section class="h2_blog-area pt-105 pb-140 bg-white">
            <div class="container">
                <div class="row">
                    {% for blog in blogs %}
                    <div class="col-xl-4 col-md-6 tp_fade_left" data-fade-from="left" >
                        <div class="h2_blog-item mb-35">
                            <div class="h2_blog-img w_img mb-25">
                                {% if blog.featured_image %}
                                <a href="{% url "single-blog" blog.slug %}"><img src="{{ blog.featured_image.url }}" alt="Image Not Found"></a>
                                {% else %}
                                <a href="{% url "single-blog" blog.slug %}"><img src="{% static "assets/images/blog/home2/1.png" %}" alt="Image Not Found"></a>
                                {% endif %}
                            </div>
                            <div class="h2_blog-content">
                                <div class="h2_blog-content-meta">
                                    <span><a href="#">{{ blog.category.title }}</a></span>
                                    <span><i class="fa-light fa-calendar-days"></i>{{ blog.published_at }}</span>
                                </div>
                                <h4 class="h2_blog-content-title">
                                    <a href="{% url "single-blog" blog.slug %}">{{ blog.title }}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="pagination-area pt-30 d-flex justify-content-center tp_fade_bottom">
                            <span><i class="fa-light fa-arrow-left"></i></span>
                                <ul>
                                    <li><a href="#" class="active">01</a></li>
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                </ul>
                            <span><i class="fa-light fa-arrow-right"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- blog area end -->
    </main>
{% endblock content %}