{% load static %}
<section class="inner_feature-area pt-140 pb-140">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div class="inner_feature-content mb-50 mb-md-0">
                    <div class="inner_section-area mb-20">
                        <span class="inner_section-subtitle tp_subtitle_anim">Features</span>
                        <h2 class="inner_section-title tp_title_slideup mb-30">
                            Start Writing Faster with Sua Pa AI tool</h2>
                        <p class="inner_section-text tp_fade_bottom">We've done it carefully and simply. Combined with the ingredients makes for beautiful landings.</p>
                    </div>
                    <ul class="inner_feature-content-list tp_fade_bottom">
                        <li>Seamless Integration</li>
                        <li>Smart Automation</li>
                        <li>Top-notch Security</li>
                    </ul>
                    <a href="#" class="theme-btn-2 tp_fade_bottom">Explore More</a>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="inner_feature-img tp_fade_left">
                    <img src="{% static "assets/images/feature/innerPage/1.png" %}" alt="Image Not Found">
                </div>
            </div>
        </div>
    </div>
</section>