{% load static %}
<section class="h2_testimonial-area pb-95 pt-135">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="inner_section-area text-center">
                    <span class="inner_section-subtitle tp_subtitle_anim">Testimonials</span>
                    <h2 class="inner_section-title tp_title_slideup mb-0">Trusted by 1000+ companies</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="h2_testimonial-active swiper pb-40 pt-50 tp_fade_bottom">
                    <div class="swiper-wrapper">
                        {% for testimonial in testimonials %}
                        {% if testimonial.is_featured == True %}
                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <div class="testimonial-icon">
                                    <svg width="48" height="36" viewBox="0 0 48 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g opacity="0.06">
                                        <path d="M28.6981 18.7847L46.3344 34.5144C46.9789 35.0893 48 34.6318 48 33.7682V1C48 0.447715 47.5523 0 47 0H29.3637C28.8114 0 28.3637 0.447714 28.3637 0.999998V18.0384C28.3637 18.3235 28.4854 18.595 28.6981 18.7847Z" fill="currentColor"/>
                                        <path d="M0.336773 18.7847L17.9731 34.5144C18.6176 35.0893 19.6387 34.6318 19.6387 33.7682V1C19.6387 0.447715 19.191 0 18.6387 0H1.00239C0.450104 0 0.00238991 0.447714 0.00238991 0.999998V18.0384C0.00238991 18.3235 0.124039 18.595 0.336773 18.7847Z" fill="currentColor"/>
                                        </g>
                                    </svg>
                                </div>
                                <div class="testimonial-head">
                                    <div class="testimonial-head-img">
                                        <img src="{{ testimonial.profile_image.url }}" alt="Image Not Found">
                                    </div>
                                    <div class="testimonial-head-info">
                                        <h6>{{ testimonial.name }}</h6>
                                        <span>{{ testimonial.position }}, {{ testimonial.company }}</span>
                                    </div>
                                </div>
                                <ul class="testimonial-rating">
                                    {% if testimonial.rating == 5 %}
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    {% endif %}
                                    {% if testimonial.rating == 4 %}
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-thin fa-star"></i></li>
                                    {% endif %}
                                    {% if testimonial.rating == 3 %}
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-thin fa-star"></i></li>
                                    {% endif %}
                                </ul>
                                <p>{{ testimonial.testimony }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="h2_testimonial-pagination pt-55 text-center"></div>
                </div>
            </div>
        </div>
    </div>
</section>